:host {
  display: block;
}

.container {
  display: flex;
}

.swatch-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.swatch {
  height: 64px;
  width: 64px;
}

.hex-label {
  font: var(--an-label-small-font);
  text-align: center;
}
